C# is written in Visual Stuio and uploaded to github with VSCode...

Look Under filepath .vs then C-Sharp for code...

Course:

https://www.youtube.com/watch?v=wxznTygnRfQ&ab_channel=BroCode

Left Off:

https://youtu.be/wxznTygnRfQ?t=5229

Playlist for code:

https://www.youtube.com/watch?v=pSPQnXleaS8&list=PLZPZq0r_RZOPNy28FDBys3GVP2LiaIyP_&index=12