C# is written in Visual Stuio and uploaded to github with VSCode...

Look Under filepath .vs then C-Sharp for code...

Course:

https://www.youtube.com/watch?v=wxznTygnRfQ&ab_channel=BroCode

Left Off:

https://youtu.be/wxznTygnRfQ?t=8214

Playlist for code:

https://youtu.be/taejaz9OwKY?list=PLZPZq0r_RZOPNy28FDBys3GVP2LiaIyP_

Documentation 

https://learn.microsoft.com/en-us/dotnet/csharp/

